.row
	.col-md-12.text-center
		.col-md-12#pizza_tools
			= link_to 'Create Pizza', new_pizza_path, id: 'create_pizza'
			= link_to 'Create Topping', new_topping_path, id: 'create_topping', remote: true
		.col-md-12#pizza_list
			%h1 Pizzas
			.col-md-12#list_o_pizzas
				= render 'list_o_pizzas'

= render 'topping_popup'
= render 'pizza_popup'